/*resetes basicos*/
:root{
    --white: #fafafa;
    --blue: #00348a;
    --blue-ligth: #0bbbd6;
    --green: #37c978;
    --red: #de4251;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;

}

body{
    width: 100%;
    height: 100vh;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*header*/
header{
    width: 100%;
    text-align: center;
    padding: 2rem;
    box-shadow: 0px 2px 4px 2px rgba(0, 0 , 0, 0.5);
}

header h1 a{
    color: var(--blue);
    font-size: 2.8rem;
    font-weight: 300;
}

/*footer*/
footer{
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0 , 0, 0.5);
}

footer p{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 300;
}

/* main*/

.container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background: linear-gradient(to right, #ddd, #eee, #ddd);
}

.container form{
    background: var(--blue-ligth);

    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
}

.container form label{
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 600;
}

.container form input{
    border: 0;
    outline: 0;
    margin: 5% 0;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0 , 0, 0.1);
}

.container form input:focus{
    box-shadow: inset 1px 2px 4px 2px rgba(0, 0 , 0, 0.1);
}

.container form button{
    border: 0;
    outline: 0;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-top: 3%;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-weight: 400;
    background: var(--blue);
    color: var(--white);
    transition: 0.3s ease-in-out;

    
}

.container form button:hover{
    background: var(--white);
    color: var(--blue);
}

.container .result-box{
    margin-top: 5%;
    width: 40%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0 , 0, 0.2);
    transition: 0.15s ease-in-out;
}

.container .result-box h2{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 5% 0;
}

.container .result-box span{
    font-size: 1.3rem;
    font-weight: 300;
}

.container #btnRestart{
    cursor: pointer;
    background: var(--blue);
    color: var(--white);
    padding: 1rem;
    margin-top: 3%;
    font-size: 1.3rem;
    border: 0;
    outline: 0;
    box-shadow: 1px 1px 5px 0px rgba(0, 0 , 0, 0.2);
    transition: 0.2s ease-in-out;

    display: none;
}

.container #btnRestart:hover{
    background: var(--white);
    color: var(--blue);
}

/*estilos dinamicos*/

.result-box.result-box-default{
    background: var(--white);
    color: var(--blue);
}

.result-correct-answear{
    color: var(--white);
    background: var(--green);
}

.status-correct{
    color: var(--white);
}

.incorrect-answear{
    color: var(--red);
}